/target/
/.classpath
/*.project
/*.settings

/.DS_Store
/profile-microservice/src/.DS_Store
/profile-microservice/src/main/.DS_Store
/profile-microservice/src/main/java/.DS_Store
/profile-microservice/src/main/java/com/.DS_Store
/profile-microservice/src/main/java/com/csc301/.DS_Store
/profile-microservice/src/main/java/com/csc301/profilemicroservice/.DS_Store
/profile-microservice/.settings
/profile-microservice/.classpath

/song-microservice/src/.DS_Store
/song-microservice/src/main/.DS_Store
/song-microservice/src/main/java/.DS_Store
/song-microservice/src/main/java/com/.DS_Store
/song-microservice/src/main/java/com/csc301/.DS_Store
/song-microservice/src/main/java/com/csc301/profilemicroservice/.DS_Store
/song-microservice/.settings
/song-microservice/.classpath

/src/test/.DS_Store
/src/test/java/.DS_Store
/src/test/java/ca/.DS_Store
/src/test/java/ca/utoronto/.DS_Store
/src/test/java/ca/utoronto/utm/.DS_Store
/src/test/java/ca/utoronto/utm/mcs/.DS_Store

/.factorypath

